<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class ="img"></div>
 <div class="login">
	<h1>CROP PREDICTION</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="N" placeholder="Enter the ratio of Nitrogen content in soil" required="required" autocomplete="off" />
		<input type="text" name="P" placeholder="Enter the ratio of Phosphorous content in soil" required="required" autocomplete="off" />
        <input type="text" name="K" placeholder="Enter the ratio of Potassium content in soil" required="required" autocomplete="off" />
        <input type="text" name="temperature" placeholder="Enter the temperature in degree Celsius" required="required" autocomplete="off"/>
        <input type="text" name="humidity" placeholder="Enter the relative humidity in %" required="required" autocomplete="off"/>
        <input type="text" name="ph" placeholder="Enter the ph value of the soil" required="required" autocomplete="off"/>
        <input type="text" name="rainfall" placeholder="Enter the Rainfall in mm" required="required" autocomplete="off"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <h2 contenteditable="True">{{ prediction_text }}</h2>

 </div>




</body>
</html>